.auth-form {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  min-width: 320px;
  max-width: 500px;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #363636;
  padding: 15px;
  border: 1px solid #fff;
  /* .auth-form__title */
  &__title {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 27px;
    color: #fff;
    margin: 0 0 15px 0;
  }
  /* .auth-form__list */
  &__list {
    margin: 0 0 10px 0;
  }
  /* .auth-form__item */
  &__item {
  }
  /* .auth-form__item_title */
  &__item_title {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin: 0 0 5px 0;
  }
  /* .auth-form__item_field */
  &__item_field {
    margin: 0 0 10px 0;
    /*&._haveError {
      .auth-form__item_input {
        border-color: #E05263;
      }
      .errors-list {
        display: block;
        &__item {
          color: #E05263;
        }
      }
    }
    &._isOk {
      .auth-form__item_input {
        border-color: #4FE18A;
      }
    }*/
  }
  /* .auth-form__item_input */
  &__item_input {
    width: 100%;
    font-family: 'Fira Sans';
    border: 1px solid #fff;
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
    &.ng-valid {
      border-color: #4FE18A;
    }
    &.ng-invalid.ng-touched {
      border-color: #E05263;
    }
    &:focus {
      border-color: #000 !important;
    }
  }
  /* .auth-form__item_errors-list */
  &__item_errors-list {

  }
  /* .auth-form__submit */
  &__submit {
  }
  /* .auth-form__submit_btn */
  &__submit_btn {
    width: 100%;
    padding: 15px 25px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background-color: #FF6E40;
    transition: all 0.3s ease;
    box-shadow: none;
    &:disabled {
      box-shadow: -2px -2px #111;
      background-color: #dc8165;
    }
  }
  /* .auth-form__switch-auth */
  &__switch-auth {
  }
}
.errors-list {
  margin: 5px 0 0 0;
  //display: none;
  /* .errors-list__item */
  &__item {
    font-size: 17px;
    margin: 3px 0;
    color: #E05263;
  }
}
.switch-auth {
  text-align: center;
}
.switch-auth_text {
  a {
    color: #fff;
    font-size: 17px;
    span {
      color: #4FE18A;
      // color: #FF6E40;
      // color: #E05263;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}


/*
.auth-form {
  border: 1px solid #000;
  padding: 15px;
  display: inline-block;
}
.auth-form__title {
  text-align: center;
  font-size: 30px;
  margin: 0 0 15px 0;
}
.auth-form__list {
  padding: 0;
}
.auth-form__field {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px 0;
}
.auth-form__field_title {
  margin: 0 0 10px 0;
}
.auth-form__field_title>p{
  font-size: 24px;
  margin: 0;
}
.auth-form_label {
  margin: 0 0 10px 0;
  font-size: 24px;
}
.auth-form_label:hover {
  cursor: pointer;
}
.auth-form_input {
  font-size: 24px;
  padding: 5px 15px;
  border: 1px solid #999;
}
.auth-form__mistakes {
  font-size: 16px;
  color: indianred;
  padding: 5px 0;
}
.auth-form_btn-signIn {
  width: 100%;
  border: 1px solid #444;
  margin: 0 0 15px 0;
  font-size: 24px;
  padding: 10px 30px;
  background-color: #eee;
}
.auth-form_switchLink {
  display: block;
  text-align: center;
  font-size: 16px;
  color: black;
}
.auth-form_switchLink:hover {
  text-decoration: underline;
}
.auth-form_switchLink>span {
  color: coral;
}
*/
