<div class="price">
  <div class="price__title">
    <p>Our Price</p>
    <div class="price__title_sub-title">
      <p>Subheading that reveals the details of the title and calls for the targeted action</p>
    </div>
  </div>
  <ul class="price__examples example-list">
    <li class="example-list__item">
      <div class="example-list__img"><img src="../../../assets/img/imgAverage.jpg" alt=""></div>
      <div class="example-list__info">
        <div class="example-list__title">
          <p>Haircuts</p>
        </div>
        <ul class="example-list__price list-info">
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Regular Haircut</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 12</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Regular Haircut</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 12</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Regular Haircut</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 12</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Shave</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 17</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 19</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 20</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="example-list__item">
      <div class="example-list__img"><img src="../../../assets/img/imgSmall.jpg" alt=""></div>
      <div class="example-list__info">
        <div class="example-list__title">
          <p>Haircuts</p>
        </div>
        <ul class="example-list__price list-info">
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Regular Haircut</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 12</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Shave</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 17</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 19</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 20</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="example-list__item">
      <div class="example-list__img"><img src="../../../assets/img/imgAverage.jpg" alt=""></div>
      <div class="example-list__info">
        <div class="example-list__title">
          <p>Haircuts</p>
        </div>
        <ul class="example-list__price list-info">
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Regular Haircut</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 12</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Shave</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 17</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 19</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 20</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="example-list__item">
      <div class="example-list__img"><img src="../../../assets/img/imgSmall.jpg" alt=""></div>
      <div class="example-list__info">
        <div class="example-list__title">
          <p>Haircuts</p>
        </div>
        <ul class="example-list__price list-info">
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Regular Haircut</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 12</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Shave</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 17</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Haircut + Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 19</p>
              </div>
            </div>
          </li>
          <li class="list-info__item">
            <div class="list-info__title">
              <p>Beard Trim</p>
            </div>
            <div class="list-info__priceAndDuration">
              <div class="list-info__duration">
                <p>60 min</p>
              </div>
              <div class="list-info__price">
                <p>$ 20</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="price__list price-list">
    <li class="price-list__item">
      <div class="price-list__title">
        <p>Beard & Mo</p>
      </div>
      <ul class="price-list__list section-list">
        <li class="section-list__item">
          <div class="section-list__title">
            <p>Haircut + Beard Trim</p>
          </div>
          <div class="section-list__duration">
            <p>60 min</p>
          </div>
          <div class="section-list__price">
            <p>$ 20</p>
          </div>
        </li>
        <li class="section-list__item">
          <div class="section-list__title">
            <p>Haircut + Beard Trim</p>
          </div>
          <div class="section-list__duration">
            <p>60 min</p>
          </div>
          <div class="section-list__price">
            <p>$ 20</p>
          </div>
        </li>
        <li class="section-list__item">
          <div class="section-list__title">
            <p>Haircut + Beard Trim</p>
          </div>
          <div class="section-list__duration">
            <p>60 min</p>
          </div>
          <div class="section-list__price">
            <p>$ 20</p>
          </div>
        </li>
      </ul>
    </li>
    <li class="price-list__item">
      <div class="price-list__title">
        <p>Beard & Mo</p>
      </div>
      <ul class="price-list__list section-list">
        <li class="section-list__item">
          <div class="section-list__title">
            <p>Haircut + Beard Trim</p>
          </div>
          <div class="section-list__duration">
            <p>60 min</p>
          </div>
          <div class="section-list__price">
            <p>$ 20</p>
          </div>
        </li>
        <li class="section-list__item">
          <div class="section-list__title">
            <p>Haircut + Beard Trim</p>
          </div>
          <div class="section-list__duration">
            <p>60 min</p>
          </div>
          <div class="section-list__price">
            <p>$ 20</p>
          </div>
        </li>
        <li class="section-list__item">
          <div class="section-list__title">
            <p>Haircut + Beard Trim</p>
          </div>
          <div class="section-list__duration">
            <p>60 min</p>
          </div>
          <div class="section-list__price">
            <p>$ 20</p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <div class="price__makeAppointment">
    <button class="price__makeAppointment_btn style-btn">Записаться</button>
  </div>
</div>
