<div class="wrapper">
  <header class="header">
    <div class="header__container">
      <div class="header__headline">
        <div class="header__headline_text">
          <p class="">Head maker</p>
        </div>
        <div class="header-menu__icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav class="header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item"><a routerLink="barber" class="header-menu__link">Главная</a></li>
          <li class="header-menu__item"><a routerLink="price" class="header-menu__link">Услуги</a></li>
          <!--<li class="header-menu__item"><a routerLink="appointment" class="header-menu__link">Контакты</a></li>-->
          <li class="header-menu__item"><a routerLink="appointment" class="header-menu__link">Записаться</a></li>
        </ul>
        <ul class="header-menu__list-links list-links">
          <li class="list-links__item">
            <a href="" class="list-links__item_link _icon-phone "></a>
          </li>
          <li class="list-links__item">
            <a href="" class="list-links__item_link _icon-email "></a>
          </li>
          <li class="list-links__item">
            <a href="" class="list-links__item_link _icon-map "></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>

